@model Bom.Web.Identity.Models.RegisterVm

@{
    ViewData["Title"] = "Facebook Register";
}

<h1>Facebook register</h1>

Clear cookies in Browser dev tools !!!

<hr />
<div class="row">
    <div class="col-md-4">


        @{/*

                    different way: easier to add other html attributes
                    <form asp-action="Register">

                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>

                */
        }



</div>

    
</div>

