/*--- variables--*/
:root {
  --default-border: #000;
  --default-font-color: #000;

  --header-bck-color: #000;
  --header-font-color: #fff;

  --nav-bck-color: #fff;
  --nav-font-color: #000;
  --nav-hover-bck-color: #efefef;

  --bom-brown: #fdbb2d;

  /* font size */
  --default-font-size: 1rem;
  --title-font-size: 1.15rem;
  --bigtitle-font-size: 1.4rem;
  --secondary-font-size: 0.8rem;

  /* responsive limits (attention, wont work in variables!!) 
  -> these variables can therefore not be used in media queries and are mainly just to look up the limits!!
  -> in the future env might be used to centralize these limits 
  */
  --mobile-limit-max: 640px;
  --tablet-limit-min: 641px;
  --tablet-limit-max: 992px;
  --desktop-limit-min: 993px;
}

/*  basic stuff */
/*--- general global settings--*/
html {
  overflow-x: hidden;
  font-size: 16px;

  height: 100%;
  width: 100%;
}
body {
  font-family: sans-serif, Verdana;
  color: var(--default-font-color);
  line-height: 1.5;
  font-size: var(--default-font-size, 16px);

  height: 100%;
  width: 100%;

  background-color: #f0f2f4;
  /*
  background-color: #FCF7FF;
  */
}

.centerBox {
  max-width: 440px;
  margin: 0 auto;

  width: 85%;
}

.lightBox {
  /*border-color: #565656;*/
  background-color: #d8d8d8;
  padding: 7px;
  border-radius: 5px;
}

label {
  width: 100%;
}

input {
  font-size: var(--default-font-size, 1rem);
  background-color: #fff;
  width: 98%;
  max-width: 100%;

  border-radius: 3px;
  border-style: solid;

  margin-bottom: 5px;
}
select {
  font-size: var(--default-font-size, 1rem);
  background-color: #fff;
  width: 98%;

  border-radius: 3px;
  border-style: solid;

  margin-bottom: 5px;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 100px;
  max-width: 100%;
}

h1 {
  font-size: var(--bigtitle-font-size, 2rem);
}
h2 {
  font-size: var(--title-font-size, 2rem);
}

hr {
  border: 0;
  border-top: 1px solid #eee;
}

.cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  /* background-color: lightsalmon;*/
}

/*
hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}
*/
/* top */
.topBar {
  order: 1;

  overflow: hidden;
  display: inline-block;

  width: 100%;
  z-index: 4;

  font-size: 18px !important;
  color: var(--bom-brown, #fdbb2d) !important;
  background-color: #000 !important;

  min-height: 30px;
}

.title {
  padding: 8px 16px;

  width: auto;
  border: none;
  display: block;
  outline: 0;
}

/* Start main content */
/*
@media (max-width: 992px) {
  #mainContent {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 993px) {
  #mainContent {
    margin-left: 300px;
  }
}
*/
/* ******************************************33 */

.mainContent {
  /* background-color: lightblue;*/

  order: 2;
  flex-grow: 999;
  margin: 0 auto;

  width: 98%;
  max-width: 960px;

  padding: 4px;
}

footer {
  background-color: var(--bom-brown, #fdbb2d);

  order: 3;
  align-self: flex-end;
  min-height: 50px;
  width: 100%;
  text-align: center;

  padding: 5px;
  font-size: var(--secondary-font-size, 9px);
}

footer a {
  padding: 0 4px;
  text-decoration: unset;
}

footer a:hover {
  text-decoration: underline;
}

/* Mobile only (media query would not really be necessary as css would be overwritten by later css, but we leave it here for clarity */
@media (max-width: 640px) {
  .mobileOnly {
    visibility: visible;
  }
  .tabletAndSmaller {
    visibility: collapse;
  }
  .tabletOnly {
    visibility: collapse;
  }
  .tabletAndBigger {
    visibility: collapse;
  }
  .desktopOnly {
    visibility: collapse;
  }

  /* specific */
  /*
  .mainContent {
  }*/
}

/* Mobile and Tablet */
@media (max-width: 992px) {
  .tabletAndSmaller {
    visibility: visible;
  }

  /* specific */
  /*
  .mainContent {
  }*/
}

/* Tablet */
@media (min-width: 641px) and (max-width: 992px) {
  .mobileOnly {
    visibility: collapse;
  }
  .tabletOnly {
    visibility: visible;
  }

  /* specific */
  /*
  .mainContent {
    background-color: aquamarine;
    margin-left: 6%;
    margin-right: 6%;
  }
  */
}

/* Tablet and desktop*/
@media (min-width: 641px) {
  .tabletAndBigger {
    visibility: visible;
  }
}

/* Desktop*/
@media (min-width: 993px) {
  .mobileOnly {
    visibility: collapse;
  }
  .tabletAndSmaller {
    visibility: collapse;
  }
  .tabletOnly {
    visibility: collapse;
  }
  .desktopOnly {
    visibility: visible;
  }

  /* specific */
  /*
  .mainContent {
    background-color: aliceblue;
    margin-left: 20%;
    margin-right: 20%;
  }
  */
}

/*
#mainContent {
  margin-top: 43px;

  transition: margin-left 0.4s;
}


@media (min-width: 993px) {
  .hideLarge {
    display: none !important;
  }
}

*/

.infoText {
  /* color: var(--default-font-color);
  
  */
  font-weight: bold;
  color: var(--bom-brown, black);

  font-size: var(--secondary-font-size, 15px);
}
