.main-background,
.main-background:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

/*  basic stuff */
html,
body {
  font-family: sans-serif, Verdana;
  font-size: 16px;
  line-height: 1.5;

  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

.cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: lightsalmon;
}

/*
hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}
*/
/* top */
.topBar {
  order: 1;
  width: 100%;
  overflow: hidden;
  display: inline-block;

  width: 100%;
  z-index: 4;

  font-size: 18px !important;
  color: #fff !important;
  background-color: #000 !important;

  min-height: 30px;
}

.title {
  padding: 8px 16px;

  width: auto;
  border: none;
  display: block;
  outline: 0;
}

/* Start main content */
/*
@media (max-width: 992px) {
  #mainContent {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 993px) {
  #mainContent {
    margin-left: 300px;
  }
}
*/
/* ******************************************33 */

.mainContent {
  background-color: lightblue;

  order: 2;
  margin: 0 auto;

  height: calc(100% - 49px);
  width: 95%;
  max-width: 960px;

  padding: 4px;
}

.footer {
  background-color: lightgray;

  order: 3;
  align-self: flex-end;
  min-height: 50px;
  width: 100%;
  text-align: center;
}

/* Mobile only (media query would not really be necessary as css would be overwritten by later css, but we leave it here for clarity */
@media (max-width: 640px) {
  .mobileOnly {
    visibility: visible;
  }
  .tabletAndSmaller {
    visibility: collapse;
  }
  .tabletOnly {
    visibility: collapse;
  }
  .tabletAndBigger {
    visibility: collapse;
  }
  .desktopOnly {
    visibility: collapse;
  }

  /* specific */
  /*
  .mainContent {
  }*/
}

/* Mobile and Tablet */
@media (max-width: 992px) {
  .tabletAndSmaller {
    visibility: visible;
  }

  /* specific */
  /*
  .mainContent {
  }*/
}

/* Tablet */
@media (min-width: 641px) and (max-width: 992px) {
  .mobileOnly {
    visibility: collapse;
  }
  .tabletOnly {
    visibility: visible;
  }

  /* specific */
  /*
  .mainContent {
    background-color: aquamarine;
    margin-left: 6%;
    margin-right: 6%;
  }
  */
}

/* Tablet and desktop*/
@media (min-width: 641px) {
  .tabletAndBigger {
    visibility: visible;
  }
}

/* Desktop*/
@media (min-width: 993px) {
  .mobileOnly {
    visibility: collapse;
  }
  .tabletAndSmaller {
    visibility: collapse;
  }
  .tabletOnly {
    visibility: collapse;
  }
  .desktopOnly {
    visibility: visible;
  }

  /* specific */
  /*
  .mainContent {
    background-color: aliceblue;
    margin-left: 20%;
    margin-right: 20%;
  }
  */
}

/*
#mainContent {
  margin-top: 43px;

  transition: margin-left 0.4s;
}


@media (min-width: 993px) {
  .hideLarge {
    display: none !important;
  }
}

*/
