<!DOCTYPE html>
<html>
</head>
<title>Responsive template</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!--
file:\\\D:/Projects/Github/Bom/_temp/

file:\\\C:\Dev\Github\Bom\_temp\
-->

<link rel="stylesheet" href="file:\\\C:\Dev\Github\Bom\_temp\Layout\css\normalize.css" />

<link rel="stylesheet" href="file:\\\C:\Dev\Github\Bom\_temp\Layout\css\marcos.css" />

<link rel="stylesheet" href="file:\\\C:\Dev\Github\Bom\_temp\Layout\css\myCss.css" />
</head>

<body>
  <div class="cont">

    <!-- Top container  -->
    <header class="topBar">

      <span class="title">Bom</span>
    </header>

    <!-- content -->
    <div class="mainContent">


      <br /><br />

      <div class="centerBox">
        <div class="lightBox">
          <form>
            <label>Username<br />
              <input type="text" />
            </label>

            <label>Password<br />
              <input type="password" />
            </label><br />

            <button>Login</button>

          </form>
        </div>
        <div class="infoText">
          Welcome to 'Bom'. Login and enjoy.
        </div>

      </div>
    </div>

    <footer class="footer">
      <a href="#">Info</a>

      <a href="#">Datenrichtlinie</a>
      <a href="#">Nutzungsbedingungen</a>
      <a href="#">Cookies </a>
      <a href="#">Lang (Dropdown)</a>


    </footer>

  </div>
</body>

</html>