<!DOCTYPE html>
<html>
</head>
  <title>Responsive template</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

<!--
file:\\\D:/Projects/Github/Bom/_temp/

file:\\\C:\Dev\Github\Bom\_temp\
-->

  <link
    rel="stylesheet"
    href="file:\\\C:\Dev\Github\Bom\_temp\Layout\css\normalize.css"
  />

  <link
    rel="stylesheet"
    href="file:\\\C:\Dev\Github\Bom\_temp\Layout\css\marcos.css"
  />

  <link
    rel="stylesheet"
    href="file:\\\C:\Dev\Github\Bom\_temp\Layout\css\myCss.css"
  />
</head>
  <body>
    <div class="cont">

      <!-- Top container  -->
      <div class="topBar">

        <span class="title">Bom</span>
      </div>

      <!-- content -->
      <div class="mainContent">
        here goes the content
        <br/>11111111
        <br/>22222222
        <br/>333333
        <br/>4444444

        <br/>333333
        <br/>4444444
        <br/>333333
        <br/>4444444
        <br/>333333
        <br/>4444444 <br/>333333
        <br/>4444444 <br/>333333


      </div>

      <footer class="footer">
        <a href="#">Info</a>

        <a href="#">Datenrichtlinie</a>
        <a href="#">Nutzungsbedingungen</a>
        <a href="#">Cookies </a>
        <a href="#">Lang (Dropdown)</a>
       </footer>
 
    </div>
  </body>
</html>
