<!DOCTYPE html>
<html>
</head>
  <title>Responsive template</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link
    rel="stylesheet"
    href="C:\Dev\Github\Bom\_temp\Layout\css\normalize.css"
  />

  <link
    rel="stylesheet"
    href="C:\Dev\Github\Bom\_temp\Layout\css\marcos.css"
  />

  <link
    rel="stylesheet"
    href="C:\Dev\Github\Bom\_temp\Layout\css\myCss.css"
  />
</head>
  <body>
    <!-- Top container  -->
    <div class="topBar">

      <span class="title">Bom</span>
    </div>

   
    <!-- content -->
    <div class="mainContent">
      here goes the content
    </div>

    <footer class="footer">
        <a href="#">Info</a>


        <a href="#">Datenrichtlinie</a>
        <a href="#">Nutzungsbedingungen</a>
        <a href="#">Cookies </a>

        <a href="#">Lang (Dropdown)</a>
    </footer>

  </body>
</html>
