div {
    box-sizing: border-box;
}
span {
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
}
header {
    box-sizing: border-box;
}
footer {
    box-sizing: border-box;
}

/*--- variables--*/
:root {
    --diff-lines: black;

    --main-bg-color: brown;
}

/*--- global settings--*/
html {
    font-family: Calibri, Verdana, Arial;
}

/*--- main layout and navigation ---*/

.topBar {
    min-height: 25px;

    width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: var(--diff-lines);
    padding: 4px 4px;

    background-color: whitesmoke;
}

.topBarAccount {
    float: left;
    margin: 2px;
}

/*--- Mobile And/Or All--*/
body {
    background-color: yellow;
}
.mobile {
    visibility: visible;
}

/*--- Mobile Landscape --*/
@media only screen and (min-width: 420px) {
    body {
        background-color: rgb(255, 254, 232);
    }
    .desktop {
        visibility: hidden;
    }
}
/*--- Tablet --*/
@media only screen and (min-width: 641px) {
    body {
        background-color: rgb(173, 230, 182);
    }

    .desktop {
        visibility: collapse;
    }
    .mobile {
        visibility: collapse;
    }
}
/*--- Desktop --*/
@media only screen and (min-width: 961px) {
    body {
        background-color: rgb(206, 218, 255);
    }

    .desktop {
        visibility: visible;
    }
    .mobile {
        visibility: collapse;
    }
}

/* TESTS  */
hr6 {
    background-color: rgb(173, 280, 182);
}

.test {
    color: red;
    background-color: whitesmoke;
}
