.main-background,
.main-background:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

/* 
 ## START Hamburger ##
https://www.mediaevent.de/tutorial/css-transform.html */

label.hamburg {
  display: block;
  background: #555;
  width: 45px;
  height: 30px; /* orig 50 */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
}

input#hamburg {
  display: none;
}

.line {
  position: absolute;
  left: 5px;
  height: 2px;
  width: 35px;
  background: #fff;
  border-radius: 2px;
  display: block;
  transition: 0.5s;
  transform-origin: center;
}

.line:nth-child(1) {
  top: 7px;
}
.line:nth-child(2) {
  top: 14px;
}
.line:nth-child(3) {
  top: 21px;
}

#hamburg:checked + .hamburg .line:nth-child(1) {
  transform: translateY(7px) rotate(-45deg);
}

#hamburg:checked + .hamburg .line:nth-child(2) {
  opacity: 0;
}

#hamburg:checked + .hamburg .line:nth-child(3) {
  transform: translateY(-7px) rotate(45deg);
}

/* 
 ## END Hamburger ##
https://www.mediaevent.de/tutorial/css-transform.html */
