@{
    bool isDebug = false;
#if DEBUG
    isDebug = true;
#endif


    var relativeBaseUrl = Url.Content("~")?.TrimEnd('/') + "/"; // "/BomApi/"
    var request = Url.ActionContext.HttpContext.Request;
    var fullBaseUrl =  new Uri(new Uri(request.Scheme + "://" + request.Host.Value), relativeBaseUrl).ToString().TrimEnd('/')+"/"; // "https://localhost/BomApi"

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bom</title>
    <base href="@fullBaseUrl" data-href="@relativeBaseUrl" />
    <link rel="stylesheet" href="/css/bundle.css" />
</head>
<body>
    @RenderBody()

    @if (isDebug) {
        // attention: certificate might be invalid. Browsers usually have an option to allow invalid certificates from localhost > enable it ( example for edge: edge://flags/#allow-insecure-localhost)
        <script id = "__bs_script__" >
             //<![CDATA[
             document.write("<script async src='https://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.7'><\/script>".replace("HOST", location.hostname));
            //]]>
            </script>
    }
<script defer src="app/runtime~index.b7cdae7b87c6a5acfaf7.js"></script><script defer src="app/vendor.2d5693cb1f4af376dc87.js"></script><script defer src="app/index.45491a63a6b90e1dcfeb.js"></script></body>
</html>