.topBar {
    width: 100%;
    overflow: hidden;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    z-index: 4;

    font-size: 18px !important;
    color: #fff !important;
    background-color: #000 !important;
}
